---
import { Icon } from 'astro-icon/components';
import type { Brands as Props } from '~/types';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
const {
  title = '',
  subtitle = '',
  tagline = '',
  icons = [],
  images = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="flex flex-wrap justify-start">
    {icons && icons.map((icon) => <Icon name={icon} class="py-3 lg:py-5 w-12 h-auto mx-auto sm:mx-0 text-gray-500" />)}
    {
      images &&
        images.map(
          (image) =>
            image.src && (
              <a
                target="_blank"
                class="flex justify-start col-span-1 my-2 lg:my-4 py-1 px-3 rounded-md dark:bg-gray-200 flex-col items-center lg:w-1/4 sm:w-1/3 w-1/2"
                href={image.bioLink}
              >
                <img src={image.src} alt={image.alt || ''} class="max-h-24 rounded-full" />
                <div class="text-xl mt-2 text-center">{image.name}</div>
                <div class="text-base text-slate-400 text-center">{image.university}</div>
              </a>
            )
        )
    }
  </div>
</WidgetWrapper>
