---
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const { items } = Astro.props;
---

<div class="container mx-auto px-4 py-8">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="flex items-center gap-2 mx-2 my-1">
          <label for="timezone" class="font-medium text-sm">Please select your time zone:</label>
          <select id="timezone" class="border border-gray-300 rounded-md px-3 py-2 text-sm">
            <option value="Pacific/Midway">Midway Islands (UTC-11)</option>
            <option value="Pacific/Honolulu">Honolulu (UTC-10)</option>
            <option value="America/Anchorage">Anchorage (UTC-9)</option>
            <option value="America/Los_Angeles">Los Angeles (UTC-8)</option>
            <option value="America/Denver">Denver (UTC-7)</option>
            <option value="America/Chicago">Chicago (UTC-6)</option>
            <option value="America/New_York">New York (UTC-5)</option>
            <option value="America/Caracas">Caracas (UTC-4)</option>
            <option value="America/Halifax">Halifax (UTC-4)</option>
            <option value="America/St_Johns">St. Johns (UTC-3:30)</option>
            <option value="America/Sao_Paulo">São Paulo (UTC-3)</option>
            <option value="Atlantic/South_Georgia">South Georgia (UTC-2)</option>
            <option value="Atlantic/Azores">Azores (UTC-1)</option>
            <option value="Europe/London">London (UTC+0)</option>
            <option value="Europe/Berlin">Berlin (UTC+1)</option>
            <option value="Europe/Athens">Athens (UTC+2)</option>
            <option value="Africa/Nairobi">Nairobi (UTC+3)</option>
            <option value="Europe/Moscow">Moscow (UTC+3)</option>
            <option value="Asia/Tehran">Tehran (UTC+3:30)</option>
            <option value="Asia/Dubai">Dubai (UTC+4)</option>
            <option value="Asia/Kabul">Kabul (UTC+4:30)</option>
            <option value="Asia/Karachi">Karachi (UTC+5)</option>
            <option value="Asia/Kolkata">Kolkata (UTC+5:30)</option>
            <option value="Asia/Kathmandu">Kathmandu (UTC+5:45)</option>
            <option value="Asia/Dhaka">Dhaka (UTC+6)</option>
            <option value="Asia/Bangkok">Bangkok (UTC+7)</option>
            <option value="Asia/Hong_Kong">Hong Kong (UTC+8)</option>
            <option value="Asia/Tokyo">Tokyo (UTC+9)</option>
            <option value="Australia/Adelaide">Adelaide (UTC+9:30)</option>
            <option value="Pacific/Guam">Guam (UTC+10)</option>
            <option value="Australia/Sydney">Sydney (UTC+11)</option>
            <option value="Pacific/Auckland">Auckland (UTC+12)</option>
            <option value="Pacific/Fiji">Fiji (UTC+12)</option>
            <option value="Pacific/Tongatapu">Tongatapu (UTC+13)</option>
            <option value="Pacific/Kiritimati">Kiritimati (UTC+14)</option>
          </select>
        </div>
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Time
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Speaker
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Theme
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Content
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <!-- Rows will go here -->
              {
                items.map((item) => (
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      {() => {
                        const date = new Date(item.time);
                        const hours = String(date.getHours()).padStart(2, '0');
                        const minutes = String(date.getMinutes()).padStart(2, '0');
                        const month = date.toLocaleString('en-US', { month: 'short' });
                        const day = String(date.getDate()).padStart(2, '0');
                        const dateString = `${month} ${day}, ${hours}:${minutes}`;
                        return (
                          <div class="currentTime" data-date={date}>
                            {dateString}
                          </div>
                        );
                      }}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      <div class="flex gap-2">
                        <Image src={'/banner.jpg'} alt={'post.title'} width={24} height={24} />
                        {item.Speaker}
                      </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      <div class="font-bold">{item.theme.title}</div>
                      <ul class="list-disc pl-5">
                        {item.theme.subtitles.map((subtitle) => (
                          <li>{subtitle}</li>
                        ))}
                      </ul>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        <Button variant="link" href={item.link}>
                          Link
                        </Button>
                      </td>
                    </td>
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const timezoneSelect = document.getElementById('timezone') as HTMLSelectElement;
  const currentTimeDivs = document.querySelectorAll('.currentTime');

  function updateTime() {
    const selectedTimezone = timezoneSelect?.value;

    currentTimeDivs.forEach((div: HTMLElement) => {
      const dateString = div.dataset.date;
      if (!dateString) {
        console.error('Date string is undefined or empty');
        return;
      }
      const currentTime = new Date(dateString).toLocaleString('en-US', {
        timeZone: selectedTimezone,
        hour12: false,
        hour: 'numeric',
        minute: 'numeric',
        month: 'short',
        day: 'numeric',
      });
      div.textContent = currentTime;
    });
  }

  timezoneSelect?.addEventListener('change', updateTime);
</script>
